{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>NEW CATEGORY</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/category/new" method="POST">
            <label for="nome">Name: </label>
                <input type="text" name="nome" placeholder="Nome da categoria" class="form-control">
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control">
                <br>
            <button type="submit" class="btn btn-outline-success">CREATE CATEGORY</button>
        </form>
    </div>
</div>